body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color:#83d6db;

}

nav{
    text-align: center;
    padding: 20px;
}

#nav ul{
    padding: 0;
    margin: 0;
}

#nav ul li{
    background-color: rgb(247, 194, 194);
    padding: 15px 20px;
    display: inline-block;
    margin: 0;
    color:black;
    transition: background-color 0.3s ease;
    
}
#nav ul li:hover{
    background-color: blueviolet;
    color: white;
    padding: 15px 20px;
    display: inline-block;
    margin: 0;
}
#nav h2{
    color: white;
    margin: 10px;
    text-align: center;
    padding: 1px;
    

}


/* CSS */
.button-1 {
  background-color: #4c1a5e;
  border-radius: 18px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

.button-2{
    background-color: rgb(165, 217, 69);
    color: black;
    padding: 15px 30px;
    margin: 15px;
    font-size: 18px;
    font-weight:bolder;
    border-radius: 15px;
    cursor: pointer;
}
.breed3 {
    background-color: white;
    padding: 8px 12px;
    margin: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .breed3:hover {
    background-color: #ddd;
  }
  #dogCarousel {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  